.main {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.link {
  width: 100%;
  text-align: center;
}

.card {
  border: 1px solid #888;
  min-height: 5em;
  text-align: justify;
  width: 275px;
  margin: 25px;
  margin-top: 0px;
  clear: none;
  display: inline-block;
  vertical-align: top;
}

.card p {
  padding: 1em;
  padding-top: 0px;
}

.card .title {
  text-align: left;
  margin-top: 0.25em;
  margin-left: 0.25em;
  font-size: x-large;
}


.img {
  background: #888;
  margin: 25px;
  margin-bottom: 0px;
  width: 225px;
  min-height: 200px;
}

.name {
  width: 100%;
  text-align: center;
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-bottom: 25px;
  background: #888;
  display: inline-block;
}
